<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>List Product</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="/product.js"></script>
</head>
<body>
<div class="container text-center">
    <div><h1>Product List</h1></div>
    <ul class="nav nav-tabs">
        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#">Category</a>
            <div class="dropdown-menu">
                <a class="dropdown-item" th:href="@{/categories/}">List Category</a>
                <a class="dropdown-item" th:href="@{/categories/new}">Create Categories</a>
            </div>
        </li>
        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#">Product</a>
            <div class="dropdown-menu">
                <a class="dropdown-item" th:href="@{/products/}">List Products</a>
                <a class="dropdown-item" th:href="@{/products/new}">Create Products</a>
            </div>
        </li>
    </ul>
    <form th:action="@{/products}" method="get">
        Filter: <input type="text" name="query" id="query" size="50" th:value="${query}"  />
        &nbsp;
        <input type="submit" value="Search" />
    </form>
    <div>
        <table class="table table-bordered">
            <thead class="thead-dark">
            <tr>
                <th>
                    <a th:href="@{'/products?page=' + ${CurrentPage}} + '&limit='+${limit}+'&sortname='+${sortName}+'&sortby=name'">Name</a>
                </th>
                <th>
                    <a th:href="@{'/products?page=' + ${CurrentPage}} + '&limit='+${limit}+'&sortname='+${sortName}+'&sortby=price'">Price</a>
                </th>
                <th>Category</th>
                <th>Image</th>
                <th>Action</th>
            </tr>
            </thead>
            <tbody>
            <th:block th:each="product : ${listProducts}">
                <tr th:id="${'row_'+product.id}">
                    <td class="td_name">[[${product.name}]]</td>
                    <td pattern="(d{3})([.])(d{2})">[[${product.price}]] ₫</td>
                    <td>[[${product.category.name}]]</td>
                    <td><img src="" style="height: 40px; width: 40px;"
                             th:src="*{'data:image/jpeg;base64,' + {product.image}}"></td>
                    <td>
                        <a class="btn btn-primary" th:href="@{'/products/edit/' + ${product.id}}">Edit</a>
                        &nbsp;
                        <a th:onclick="'javascript:deleteProduct('+${product.id} +')'"
                           class="btn btn-danger">Delete</a>
                    </td>
                </tr>
            </th:block>
            </tbody>
        </table>
        <div class="row col-sm-10">
                <div class="col-sm-2">
                    Total Rows: [[${TotalItem}]]
                </div>
                <div class="col-sm-1">
                    <span th:each="i :${#numbers.sequence(1, TotalPage)}">
                        <a th:if="${CurrentPage != i}" th:href="@{'/products?page='+${i}}+'&limit='+${limit}+'&sortname='+${sortName}+'&sortby=id'">[[${i}]]</a>
                        <span th:unless="${CurrentPage != i}">[[${i}]]</span>
                    </span>
                </div>
                <div class="col-sm-1">
                    <a th:if="${CurrentPage > 1}" th:href="@{'/products?page=' + ${(TotalPage - TotalPage) + 1}}+'&limit='+${limit}+'&sortname='+${sortName}+'&sortby=id'">First</a>
                    <span th:unless="${CurrentPage > 1}">First</span>
                </div>
                <div class="col-sm-1">
                    <a th:if="${CurrentPage < TotalPage}" th:href="@{'/products?page=' + ${CurrentPage + 1}}+'&limit='+${limit}+'&sortname='+${sortName}+'&sortby=id'">Next</a>
                    <span th:unless="${CurrentPage < TotalPage}">Next</span>
                </div>
                <div class="col-sm-1">
                    <a th:if="${CurrentPage > 1}" th:href="@{'/products?page=' + ${CurrentPage - 1}}+'&limit='+${limit}+'&sortname='+${sortName}+'&sortby=id'">Previous</a>
                    <span th:unless="${CurrentPage > 1}">Previous</span>
                </div>
                <div class="col-sm-1">
                    <a th:if="${CurrentPage < TotalPage}" th:href="@{'/products?page=' + ${TotalPage}}+'&limit='+${limit}+'&sortname='+${sortName}+'&sortby=id'">Last</a>
                    <span th:unless="${CurrentPage < TotalPage}">Last</span>
                </div>
        </div>

    </div>
</div>
<!--<script>-->
    <!--$(function () {-->
        <!--$('#AlertBox').removeClass('d-none');-->
        <!--$('#AlertBox').delay(3000).slideUp(500);-->
    <!--});-->

    <!--function deleteData(data, entity) {-->
        <!--if (confirm("Bạn có muốn xóa không") == true) {-->
            <!--window.location.href = "/" + entity + "/delete/" + data;-->
        <!--} else {-->
            <!--return false;-->
        <!--}-->
    <!--}-->
<!--</script>-->
<script type="text/javascript">
    $(function (){
        var message ;
        message : [[${message}]]
        if (message.toString()!=""){
            alert(message)
        }
    });


</script>

<!-- jQuery library -->
<script src="https://cdn.jsdelivr.net/npm/jquery@3.6.0/dist/jquery.slim.min.js"></script>

<!-- Popper JS -->
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"></script>

<!-- Latest compiled JavaScript -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/js/bootstrap.bundle.min.js"></script>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
</body>
</html>